repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.0.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: fix-encoding-pragma
      args: [--remove]
    - id: check-docstring-first
    - id: check-merge-conflict
    - id: check-yaml
    - id: debug-statements
    - id: name-tests-test
    - id: check-added-large-files
    - id: check-byte-order-marker
    - id: mixed-line-ending
    - id: requirements-txt-fixer
    - id: flake8
-   repo: https://github.com/pre-commit/mirrors-autopep8
    rev: v1.4.3
    hooks:
    -   id: autopep8
-   repo: https://github.com/asottile/reorder_python_imports
    rev: v1.3.4
    hooks:
    - id: reorder-python-imports
-   repo: https://github.com/asottile/add-trailing-comma
    rev: v0.7.1
    hooks:
    -   id: add-trailing-comma
