[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pylibgen" = {path = ".", editable = true}

[dev-packages]
pytest = '>=3.8,<3.9'
flake8 = '>=3.5,<3.6'
black = '*'
pre-commit = '*'
wheel = '*'
twine = '*'

[pipenv]
allow_prereleases = true
